{% extends "layout.html" %}
{% block title %}
Detail view Page
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'manager:index' %}">list</a>
    </div>
</nav>
<div class="container">
    <table class="table table-striped table-hover">
        <thead>
           <tr>
                <td><h3>분류</h3></td>
                <td><h3>내용</h3></td>
           </tr>
        </thead>

        <tbody>
          <tr><td width="250">작성자</td>      <td>{{ scripts.author }}</td></tr>
          <tr><td width="250">날짜</td>        <td>{{ scripts.now|date:"y/m/d H:i:s" }}</td></tr>
          <tr><td width="250">TC ID</td>       <td>{{ scripts.tcid }}</td></tr>
          <tr><td width="250">Script File</td> <td>{{ scripts.scrfile }}</td></tr>
          <tr><td width="250">설명</td>        <td>{{ scripts.detail }}</td></tr>
        </tbody>

        <tfoot>
            <form action="/manager/{{scripts.id}}/modify/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <tr>
                    <td>
                        <a href="{% url 'manager:modify' scripts.id %}" class="btn btn-warning" role="button">Modify</a>
                        <a href="{% url 'manager:del_confirm' scripts.id %}" class="btn btn-danger" role="button">Delete</a>
                    </td>
                    <td align="right">
                        <a href="{% url 'manager:index' %}" class="btn btn-default">list</a>
                    </td>
                </tr>
            </form>
        </tfoot>
    </table>
</div>
{% endblock %}
