{% load staticfiles %}

<!DOCTYPE html>
<html lang="euc-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel ="shortcut icon" type = "image/x-icon" href="{% static 'manager/img/favicon.gif' %}" />

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
</head>
<meta http-equiv="Content-Language" content="ko">
<body>
{% block content %}{% endblock %}
</body>
</html>